* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.grupo {
  display: flex;
  width: 70%;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.contador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

input {
  margin-bottom: 5px;
  width: auto;
}

.patio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fila {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 1;
}